<header class="header">
  <div class="header__container container">
    <img src="../img/famster-logo.png" alt="Famsters logo" class="header__logo logo">
    <nav class="header__nav nav" title="Main navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Introduction</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Partners</a></li>
        <li class="nav__item"><a href="#" class="nav__link">NFTs</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Gamification</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Tokenomics</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Our Team</a></li>
      </ul>
    </nav>
    <button class="header__btn btn btn-reset">Get in Touch</button>
  </div>
</header>